.landing_page{
    position: relative;
    width: 1920px;
    height: 8580px;
    
    background: #FFFFFF;
}



/* header start*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 220px;

    position: absolute;
    height: 92px;
    left: 0px;
    right: 0px;
    top: 0px;

}

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 361px;

    width: 1480.5px;
    height: 60px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 191px;
    height: 34px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo img{
    width: 191px;
    height: 34px;
        
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 928.5px;
    height: 60px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 551.5px;
    height: 23px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.men1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 97px;
    height: 23px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.men1 a {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4F9CF9;

    width: 78px;
    height: 23px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.men1 img {
    width: 9px;
    height: 4px;
   
    flex: none;
    order: 1;
    flex-grow: 0;

}

.men2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 98px;
    height: 23px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.men2 a {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4F9CF9;

    width: 79px;
    height: 23px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.men2 img {
    width: 9px;
    height: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.men3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 108px;
    height: 23px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.men3 a {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4F9CF9;

    width: 89px;
    height: 23px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.men3 img {
    width: 9px;
    height: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.men4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 77px;
    height: 23px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.men4 a {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4F9CF9;

    width: 58px;
    height: 23px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.men4 img {
    width: 9px;
    height: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 377px;
    height: 60px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;

    width: 126px;
    height: 60px;

    background: #FFE492;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-login a {
    width: 46px;
    height: 23px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: -0.02em;

    color: #043873;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-free-trial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;

    width: 227px;
    height: 60px;

    background: #4F9CF9;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn-free-trial a {
    margin-top: 0;
    margin-bottom: 0; 
    
    width: 159px;
    height: 23px;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;


    letter-spacing: -0.02em;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-free-trial img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 10px;
    height: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
/* header finish*/


/* section start*/

.hero_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 220px;
    isolation: isolate;

    position: absolute;
    height: 829px;
    left: 0px;
    right: 0px;
    top: 92px;
    background: #FFFFFF;
}

.hero_element {
    position: absolute;
    width: 2651.8px;
    left: calc(50% - 2651.8px/2 - 0.1px);
    top: 23.19%;
    bottom: 10.82%;
    
    opacity: 0.3;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.hero_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 1480px;
    height: 549px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.hero_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 656px;
    height: 361px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero_text_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 656px;
    height: 238px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.hero_text_block h2 {
    margin-top: 0;
    margin-bottom: 0;
    width: 656px;
    height: 154px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;

    color: #4F9CF9;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.hero_text_block p {
    margin-top: 0;
    margin-bottom: 0;
    width: 656px;
    height: 60px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    letter-spacing: -0.02em;

    color: #4F9CF9;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.btn_free_trial_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 219px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 824px;
    height: 549px;
}

.image_container img {
    width: 824px;
    height: 549px;

    background: #C4DEFD;
}

.btn_free_trial_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 219px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 8px;

}

.btn_free_trial_2 a {
    width: 159px;
    height: 23px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

/* section finish*/



/* work management start */

.work_management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 140px 220px;
    gap: 100px;
    
    position: absolute;
    height: 1588px;
    left: 0px;
    right: 0px;
    top: 921px;
}


.work_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;

    width: 1480px;
    height: 1308px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.work_content_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 60px;
    isolation: isolate;

    width: 1480px;
    height: 547px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.work_content_1 img {
    position: absolute;
    left: -25.82%;
    right: 85.09%;
    top: 22.85%;
    bottom: -4.85%;
    
    mix-blend-mode: multiply;
    opacity: 0.2;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.work_headline_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 672px;
    height: 411px;

    flex: none;
    order: 1;
    flex-grow: 1;
    z-index: 1;
}

.work_headline_text_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    
    width: 672px;
    height: 288px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.work_headline_text_1 img {
    position: absolute;
    left: 10%;
    right: -1%;
    top: 24.43%;
    bottom: 50.81%;
    
    transform: matrix(1, 0, 0.01, 1, 0, 0);
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.work_headline_text_1 h1 {
    margin-bottom: 0;
    margin-top: 0;

    width: 672px;
    height: 174px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.work_headline_text_1 p {
    margin-bottom: 0;
    margin-top: 0;

    width: 672px;
    height: 90px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.btn_get_started {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;

    width: 201px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 6px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_get_started a {
    width: 97px;
    height: 23px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.image_container_1 {
    width: 748px;
    height: 547px;
    
    background: #C4DEFD;

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.work_content_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;

    width: 1480px;
    height: 661px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.work_together {
    width: 710px;
    height: 661px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.work_headline_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    
    width: 670px;
    height: 294px;
    
    flex: none;
    order: 1;
    flex-grow: 1;
}
.work_headline_text_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    
    width: 670px;
    height: 171px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.work_headline_text_2 img {
    position: absolute;
    left: 64.19%;
    right: 24.27%;
    top: 62.76%;
    bottom: 50.7%;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.work_headline_text_2 h1 {
    margin-bottom: 0;
    margin-top: 0;
    width: 670px;
    height: 87px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.work_headline_text_2 p {
    margin-bottom: 0;
    margin-top: 0;
    width: 670px;
    height: 60px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.btn_get_started_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    
    width: 186px;
    height: 63px;
    
    background: #4F9CF9;
    border-radius: 6px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_get_started_1 a {
    width: 82px;
    height: 23px;
    text-decoration: none;
    font-family: sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
/* work management finish */

/*Customise start*/

.customise {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 220px;
    gap: 98px;

    position: absolute;
    height: 759px;
    left: 0px;
    right: -1px;
    top: 2509px;
}

.customise_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 98px;

    width: 1481px;
    height: 479px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cust_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 697px;
    height: 381px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cust_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;

    width: 697px;
    height: 258px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.cust_text img {
    position: absolute;
    left: 19.39%;
    right: 37.3%;
    top: 45.83%;
    bottom: 33.65%;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.cust_text h1 {
    margin-top: 0;
    margin-bottom: 0;

    width: 697px;
    height: 174px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    
    color: #212529;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.cust_text p {
    margin-top: 0;
    margin-bottom: 0;

    width: 697px;
    height: 60px;
    
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #212529;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.btn_get_started_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    
    width: 176px;
    height: 63px;
    
    background: #4F9CF9;
    border-radius: 6px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_get_started_2 a {
    width: 72px;
    height: 23px;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.illustration {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 686px;
height: 479px;
}

.illustration img {
    width: 686px;
    height: 479px;
    background: #C4DEFD;
}
/*Customise finish*/


/*Pricing start*/
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
    gap: 60px;
    
    position: absolute;
    height: 1272px;
    left: 0px;
    right: -1px;
    top: 3268px;
}

.pricing_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    
    width: 1481px;
    height: 992px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pric_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    
    width: 1481px;
    height: 171px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pric_heading img {
    position: absolute;
    left: 49.43%;
    right: 29.05%;
    top: 21.86%;
    bottom: 47.53%;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.pric_heading h1 {
    margin-top: 0;
    margin-bottom: 0;

    width: 1481px;
    height: 87px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #212529;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.pric_heading p {
    margin-top: 0;
    margin-bottom: 0;

    width: 979px;
    height: 60px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}


.price_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    width: 1481px;
    height: 761px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.price_board_1 {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 44px;
    gap: 25px;
    
    width: 472.33px;
    height: 634px;
    
    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.text_board_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    
    width: 384.33px;
    height: 153px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_1 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 384.33px;
    height: 36px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
    color: #212529;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_1 h4 {
    margin-top: 0;
    margin-bottom: 0;

    width: 384.33px;
    height: 44px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_1 small {
    margin-top: 0;
    margin-bottom: 0;

    width: 384.33px;
    height: 23px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.bullet_point_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    
    width: 384.33px;
    height: 300px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.point_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 19px;

    width: 384.33px;
    height: 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.point_1 img {
    width: 18.01px;
    height: 18.01px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.point_1 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 347.33px;
    height: 20px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.btn_started_get {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    
    width: 166px;
    height: 51px;
    
    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 8px;
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.price_board_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 44px;
    gap: 25px;
    
    width: 472.33px;
    height: 761px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.text_board_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    
    width: 384.33px;
    height: 153px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_2 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 384.33px;
    height: 36px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
    color: #043873;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_2 h4 {
    margin-top: 0;
    margin-bottom: 0;

    width: 384.33px;
    height: 44px;
    
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    letter-spacing: -0.02em;
    
    color: #043873;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_2 small {
    margin-top: 0;
    margin-bottom: 0;

    width: 384.33px;
    height: 23px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    letter-spacing: -0.02em;
    
    color: #043873;
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}


.btn_started1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    
    width: 166px;
    height: 51px;
    
    background: #4F9CF9;
    border-radius: 8px;
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.btn_started1 a {
    margin-top: 0;
    margin-bottom: 0;

    width: 86px;
    height: 19px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.price_board_3 {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 44px;
    gap: 25px;
    
    width: 472.33px;
    height: 634px;
    
    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 10px;
    
    flex: none;
    order: 2;
    flex-grow: 1;
}

.text_board_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    
    width: 384.33px;
    height: 153px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_3 p {
    margin-top: 0;
    margin-bottom: 0;
    width: 384.33px;
    height: 36px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
        
    color: #212529;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_3 h4 {
    margin-top: 0;
    margin-bottom: 0;
    width: 384.33px;
    height: 44px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text_board_3 small {
    width: 384.33px;
    height: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

/*Pricing finish*/


/*Your-work start*/
.your_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 220px;

    position: absolute;
    height: 574px;
    left: 0px;
    right: -1px;
    top: 4540px;

    background: #043873;
}

.your_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    
    width: 1481px;
    height: 294px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.your_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    
    width: 1064px;
    height: 171px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.your_text img {
    position: absolute;
    left: 61.76%;
    right: -1.27%;
    top: 22.31%;
    bottom: 49.68%;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.your_text h1 {
    margin-top: 0;
    margin-bottom: 0;

    width: 1064px;
    height: 87px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    
    color: #FFFFFF;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.your_text p {
    margin-top: 0;
    margin-bottom: 0;

    width: 1064px;
    height: 60px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #FFFFFF;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.your_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    isolation: isolate;

    width: 195px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.your_btn a {
    width: 91px;
    height: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
}

/*Your-work finish*/


/*Your-data start*/
.your_data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;

    position: absolute;
    height: 661.13px;
    left: 0px;
    right: -1px;
    top: 5114px;
}

.data_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 1481px;
    height: 381.13px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.data_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 800px;
    height: 324px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.data_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;

    width: 800px;
    height: 201px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.data_text img {
    position: absolute;
    left: 21.88%;
    right: 33.12%;
    top: 39.56%;
    bottom: 50.25%;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.data_text h1 {
    margin-top: 0;
    margin-bottom: 0;

    width: 800px;
    height: 87px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;

    color: #212529;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.data_text p {
    margin-top: 0;
    margin-bottom: 0;
    width: 800px;
    height: 90px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #212529;
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.data_element {
    width: 681px;
    height: 381.13px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*Your-data finish*/

/* Our sponsors start*/
.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
    gap: 100px;
    isolation: isolate;
    
    position: absolute;
    height: 538px;
    left: -1px;
    right: -1px;
    top: 5775.13px;
}

.sponsors img {
    position: absolute;
    left: 46.05%;
    right: 36.89%;
    top: 36.59%;
    bottom: 55.51%;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.sponsors_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;
    
    width: 1482px;
    height: 258px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.sponsors_block h1 {
    margin-top: 0;
    margin-bottom: 0;

    width: 1482px;
    height: 87px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #212529;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sponsors_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 100px;
    
    width: 1482px;
    height: 71px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.apple {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 55.47px;
    height: 68px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.apple img {
    width: 55.47px;
    height: 68px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.microsoft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 287px;
    height: 62px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.microsoft img {
    width: 287px;
    height: 62px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.slack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 280px;
    height: 71px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.slack img {
    width: 280px;
    height: 71px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.google {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 211px;
    height: 69.81px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.google img {
    width: 211px;
    height: 69.81px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
/* Our sponsors start*/

/*apps start*/
.apps {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 140px 220px;
    gap: 100px;
    isolation: isolate;
    
    position: absolute;
    width: 1920px;
    height: 750.8px;
    left: 0px;
    right: 0px;
    top: 6313.13px;
    
    background: #043873;
}

.apps img {
    position: absolute;
    width: 2041.06px;
    height: 700.4px;
    left: -60.03px;
    top: 9.78px;

    opacity: 0.;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.apps_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;

    width: 1480px;
    height: 470.8px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.apps_block img {
    width: 582px;
    height: 470.8px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}


.apps_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    
    width: 798px;
    height: 468px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.apps_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    width: 798px;
    height: 345px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.apps_text h1 {
    margin-top: 0;
    margin-bottom: 0;
    width: 798px;
    height: 261px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.apps_text p {
    margin-top: 0;
    margin-bottom: 0;

    width: 798px;
    height: 60px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.apps_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    
    width: 194px;
    height: 63px;
    
    background: #4F9CF9;
    border-radius: 8px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.apps_btn p {
    width: 90px;
    height: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

/*apps finish*/

/*testimonial start*/
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
    gap: 60px;
    isolation: isolate;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 7063.93px;
}

.testimonial_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    
    width: 1480px;
    height: 627px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.testimonial_block h1 {
    margin-top: 0;
    margin-bottom: 0;

    width: 1480px;
    height: 87px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #212529;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonial_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    width: 1480px;
    height: 480px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.testimonial_client_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 40px;
    gap: 49px;
    
    width: 472px;
    height: 480px;
    
    background: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    
    flex: none;
    order: 0;
    flex-grow: 1;
}

.client_commen_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    
    width: 350px;
    height: 255px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.client_commen_1 img {
    width: 70px;
    height: 70px;
    
    background: url(.png);
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.client_commen_1 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 350px;
    height: 150px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #01252A;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.name_star_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 53px;
    
    width: 350px;
    height: 56px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.name_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 194px;
    height: 56px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name_1 b {
    margin-top: 0;
    margin-bottom: 0;
    width: 137px;
    height: 22px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: -0.02em;
    
    color: #01252A;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name_1 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 194px;
    height: 30px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #01252A;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_star_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    
    width: 103px;
    height: 15px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.testimonial_client_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 40px;
    gap: 49px;

    width: 472px;
    height: 480px;

    background: #4F9CF9;
    border-radius: 10px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.client_commen_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    
    width: 350px;
    height: 255px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.client_commen_2 img {
    width: 70px;
    height: 70px;
    
    background: url(.png);
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.client_commen_2 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 350px;
    height: 150px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.name_star_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 53px;
    
    width: 350px;
    height: 56px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.name_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 194px;
    height: 56px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name_2 b {
    margin-top: 0;
    margin-bottom: 0;

    width: 137px;
    height: 22px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name_2 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 194px;
    height: 30px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_star_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    
    width: 103px;
    height: 15px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.testimonial_client_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 40px;
    gap: 49px;

    width: 472px;
    height: 480px;

    background: #4F9CF9;
    border-radius: 10px;

    flex: none;
    order: 2;
    flex-grow: 1;
}

.client_commen_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    
    width: 350px;
    height: 255px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.client_commen_2 img {
    width: 70px;
    height: 70px;
    
    background: url(.png);
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.client_commen_3 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 350px;
    height: 150px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.name_star_3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 53px;
    
    width: 350px;
    height: 56px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.name_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 194px;
    height: 56px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name_3 b {
    margin-top: 0;
    margin-bottom: 0;

    width: 137px;
    height: 22px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name_3 p {
    margin-top: 0;
    margin-bottom: 0;

    width: 194px;
    height: 30px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_star_3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    
    width: 103px;
    height: 15px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.testimonial_slider {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    
    width: 250px;
    height: 75px;
    
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.slaid_left {
    width: 75px;
    height: 75px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.slaid_right {
    width: 75px;
    height: 75px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*testimonial finish*/


/* footer start*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 220px 32px;
    gap: 200px;

    position: absolute;
    height: 474px;
    left: 0px;
    right: 0px;
    top: 8105.93px;

background: #043873;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;
    isolation: isolate;

    width: 1480px;
    height: 302px;
    top: 140px;
    left: 220px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;

    width: 1480px;
    height: 182px;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 205.25px;
    height: 169px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.footer_logo img {
    width: 191px;
    height: 34px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_logo p {
    width: 240px;
    height: 120px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    letter-spacing: -0.02em;

    color: #F7F7EE;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_info_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 205.25px;
    height: 127px;
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.p1 {
    width: 68px;
    height: 22px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.p2 {
    width: 70px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFE492;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.p3 {
    width: 50px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.p4 {
    width: 177px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer_info_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 205.25px;
    height: 130px;

    flex: none;
    order: 2;
    flex-grow: 1;
}

.p5 {
    width: 91px;
    height: 22px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.p6 {
    width: 33px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.p7 {
    width: 128px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.p8 {
    width: 130px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer_info_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 205.25px;
    height: 130px;

    flex: none;
    order: 3;
    flex-grow: 1;
}

.p9 {
    width: 83px;
    height: 22px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.p10 {
    width: 66px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.p11 {
    width: 62px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.p12 {
    width: 99px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer_try_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;

    width: 259px;
    height: 182px;

    flex: none;
    order: 4;
    flex-grow: 0;
}

.footer_try_btn h5 {
    margin-top: 0;
    margin-bottom: 0;

    width: 155px;
    height: 36px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.p13 {
    width: 259px;
    height: 40px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer_try_btn a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;

    width: 186px;
    height: 60px;

    background: #4F9CF9;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.p14 {
    margin-top: 0;
    margin-bottom: 0;

    width: 82px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_try_btn img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 14px;
    height: 14px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer_btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 60px;

    width: 1480px;
    height: 20px;
}

.footer_tems {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;

    width: 737px;
    height: 20px;
}

.footer_lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;

    width: 104px;
    height: 20px;
}

.footer_lang img {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 19px;
height: 19px;
}

.p15 {
    width: 53px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.p16 {
    width: 117px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.p17 {
    width: 60px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.p18 {
    width: 47px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.p19 {
    width: 169px;
    height: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.footer_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 105px;
    height: 16.68px;
}

.faceicon {
    width: 9px;
    height: 16.68px;
}



.line {
    width: 1480px;
    height: 0px;
    left: 0px;
    top: 249.07px;

    border: 1px solid #2E4E73;
}
/* footer finish*/